<div class="withdrawal-container">
  <div class="withdrawal-wrapper">
    <div class="withdrawal-row">
      <h2 class="withdrawal-title">
        Bank Withdrawal
      </h2>
      <div class="withdrawal-body">
        <div class="withdrawal-body-row">
          <div class="withdrawal-message">
            Enter your amount in the form (xxx.xx)
          </div>
          <form action="" class="withdrawal-form">
            <mat-form-field >
              <mat-label>$$</mat-label>
              <input matInput type="text" placeholder="Enter withdrawal amount" value="">
            </mat-form-field>
            <mat-form-field >
              <mat-label>.00</mat-label>
              <input matInput type="" placeholder="Enter withdrawal amount" value="">
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="actions-row">
        <button routerLinkActive="active" mat-raised-button class="withdrawal-button" (click)="withdrawalClicked()" color="accent">WITHDRAW</button>
      </div>
    </div>
  </div>
</div>
