<div class="withdrawal-container">
  <div class="withdrawal-wrapper">
    <div class="withdrawal-row">
      <h2 class="withdrawal-title">
        Bank Withdrawal
      </h2>
      <div class="withdrawal-body">
        <div class="withdrawal-body-row">
          <div class="withdrawal-message">
            Enter your amount in the form (xxx.xx)
          </div>
          <form action="" class="withdrawal-form" [formGroup]="withdrawalForm">
            <div class="accounts-wrapper">
              <mat-form-field appearance="fill" class >
                <mat-label>Select Account</mat-label>
                <mat-select formControlName="account">
                  <mat-option *ngFor="let account of accounts" [value]="account.id">
                    {{account.accountName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-form-field >
              <mat-label>$$</mat-label>
              <input matInput type="text" formControlName="dollars" placeholder="Enter withdrawal amount" value="">
            </mat-form-field>
            <mat-form-field >
              <mat-label>.00</mat-label>
              <input matInput type="" formControlName="cents" placeholder="Enter withdrawal amount" value="">
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="actions-row">
        <button routerLinkActive="active" (click)="withdrawalClicked()" mat-raised-button class="withdrawal-button"  color="accent">WITHDRAW</button>
      </div>
    </div>
  </div>
</div>
