<div class="login-container">
  <div class="login-wrapper">
    <div class="login-row">
      <div class="login-header">
        <app-login-header></app-login-header>
      </div>
      <div class="login-page-instructions">
        <img class="app-image place-vote-image" alt="" src="../../assets/images/fingerprint.png">
        <p class="login-page-instruction">First enter your 4-DIGIT PIN then place your finger on the sensor.</p>
      </div>
      <form class="login-form" [formGroup]="loginForm">
        <mat-form-field class="login-full-width">
          <mat-label>VERIFICATION PIN (4 DIGITS)</mat-label>
          <input matInput type="password" formControlName="pin" placeholder="Enter password" value="">
        </mat-form-field>
        <br>
        <a routerLink="/signup" class="signup-link">Signup</a>
      </form>
    </div>
  </div>
</div>
