<div class="login-container">
  <div class="login-wrapper">
    <div class="login-row">
      <div class="login-header">
        <app-signup-header></app-signup-header>
      </div>
      <div class="signup-page-instructions">
        <img class="app-image place-vote-image" alt="" src="https://thumbs.gfycat.com/KindheartedSimpleAppaloosa-size_restricted.gif">
        <p class="signup-page-instruction">Scan your finger and then wait 5 seconds before scanning another finger. Then enter your desired 4 DIGIT PIN.</p>
      </div>
      <form class="signup-form">
        <mat-form-field class="signup-input login-full-width">
          <mat-label>ENTER PIN</mat-label>
          <input matInput type="password" placeholder="PIN" value="">
        </mat-form-field>
        <br>
        <mat-form-field class="signup-input login-full-width">
          <mat-label>REPEAT PIN</mat-label>
          <input matInput type="password" placeholder="REPEAT PIN" value="">
        </mat-form-field>
        <br>
        <div class="login-buttons-container">
          <button routerLink="/signup" routerLinkActive="active" mat-raised-button class="login-form-button" color="accent">REGISTER</button>
        </div>
      </form>
    </div>
  </div>
</div>
