<div class="login-container">
  <div class="login-wrapper">
    <div class="login-row">
      <div class="login-header">
        <app-signup-header></app-signup-header>
      </div>
      <div class="signup-page-instructions">
        <img class="app-image place-vote-image" alt="" src="../../assets/images/fingerprint.png">
        <p class="signup-page-instruction">Enter your 4-DIGIT PIN and continue to scan your fingerprint</p>
      </div>
      <form class="signup-form" [formGroup]="signupForm">
        <mat-form-field class="signup-input login-full-width">
          <mat-label>ENTER PIN (4 DIGITS)</mat-label>
          <input matInput type="password" formControlName="pin" placeholder="PIN" value="">
        </mat-form-field>
        <br>
        <mat-form-field class="signup-input login-full-width">
          <mat-label>REPEAT PIN (4 DIGITS)</mat-label>
          <input matInput type="password" formControlName="repeatPin"  placeholder="REPEAT PIN">
        </mat-form-field>
        <br>
        <a routerLink="/login" class="login-link">Login</a>
      </form>
    </div>
  </div>
</div>
