<div class="deposit-container">
  <div class="deposit-wrapper">
    <div class="deposit-row">
      <h2 class="deposit-title">
        Bank Deposit
      </h2>
      <div class="deposit-body">
        <div class="deposit-body-row">
          <div class="deposit-message">
            Enter your amount in the form (xxx.xx)
          </div>
          <form action="" class="deposit-form">
            <mat-form-field class="login-full-width">
              <mat-label>$$</mat-label>
              <input matInput type="Deposit" placeholder="Enter deposit amount" value="">
            </mat-form-field>
            <mat-form-field class="login-full-width">
              <mat-label>.00</mat-label>
              <input matInput type="Deposit" placeholder="Enter deposit amount" value="">
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="actions-row">
        <button routerLinkActive="active" mat-raised-button class="deposit-button" color="primary">DEPOSIT</button>
      </div>
    </div>
  </div>
</div>
