<div class="home-container">
  <div class="home-wrapper">
    <div class="atm-header-item">
      <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <p class="home-title">Biometric ATM System</p>
      <button routerLink="/home" routerLinkActive="active" mat-raised-button class="login-form-button"
        color="primary">LOGOUT</button>
    </div>
    <div class="home-inner-container">
      <div class="home-row">
        <mat-card class="home-tab-card" (click)="openBalanceDialog()">
          <mat-card-content>
            <div class="mat-card-inner">
              <div class="mat-card-inner-row">
                <img class="app-image" alt="" src="../../assets/images/cash.png">
                <h2>BALANCE</h2>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="home-tab-card" (click)="openDepositDialog()">
          <mat-card-content>
            <div class="mat-card-inner">
              <div class="mat-card-inner-row">
                <img class="app-image" alt="" src="../../assets/images/piggy-bank.png">
                <h2>DEPOSIT</h2>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="home-tab-card" (click)="openWithdrawalDialog()">
          <mat-card-content>
            <div class="mat-card-inner">
              <div class="mat-card-inner-row">
                <img class="app-image" alt="" src="../../assets/images/money-withdrawal.png">
                <h2>WITHDRAW</h2>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
